html, body, #root {
  height: 100%;
  background: #3e4444;
}

.App {
  /*text-align: left;*/
  width: 100%;
  font-size: large;
  height: 100%;
  background: #343a40; /* #3e4444;*/
}

.header {
  width: 100%;
}

.header-box {
  display: inline-block;
  height: 100%;
  float: left;
}

.github-svg {
  width: 10%;
}

.github {
  float: right;
  /*vertical-align: middle;
  width: 10%;
  padding-top: 2.5%;
  padding-left: 4%;
  padding-bottom: 1%;
  padding-right: 1.5%;
  margin: 5%;*/
}

.github-text {
  font-size: smaller;
  color: whitesmoke;
}

.github-text:hover {
  color: cornflowerblue;
}

.App-title {
  font-size: 200%;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
  background: #343a40; /* #3e4444;*/
  padding: 1%;
}

.box {
  float: left;
  width: 49%;
  /*width: 34.9em;*/
  height: 100%;
  padding: 5%;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  color: whitesmoke;
}

.box-left {
  text-align: left;
  background: #878f99;
  margin: 0 0.25% 0.5% 0.5%;
}

.box-right {
  text-align: center;
  margin: 0 0.5% 0.5% 0.25%;
}
.box-right-focus {
  background: #db4462;
}

.box-right-sbreak {
  background: #66a5f1;
}

.box-right-lbreak {
  background: #46a04e;
}

.timer {
  padding: 4%;
  font-size: 100%;
  font-size: 10vw;/*500%;*/
  font-weight: bolder;
}

.button {
  padding: 1%;
  display: inline-block;
}

.note {
  font-size: 80%;
  font-weight: lighter;
  font-style: italic;
}
