html, body, #root {
  height: 100%;
  background: #3e4444;
}

.App {
  /*text-align: left;*/
  width: 100%;
  font-size: large;
  height: 100%;
  background: #3e4444;
}

.App-title {
  font-size: 200%;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
  background: #3e4444;
  padding: 1%;
}

.box {
  float: left;
  width: 49%;
  /*width: 34.9em;*/
  height: 100%;
  padding: 5%;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  color: whitesmoke;
}

.box-left {
  text-align: left;
  background: #878f99;
  margin: 0 0.25% 0.5% 0.5%;
}

.box-right {
  text-align: center;
  margin: 0 0.5% 0.5% 0.25%;
}
.box-right-focus {
  background: #db4462;
}

.box-right-sbreak {
  background: #66a5f1;
}

.box-right-lbreak {
  background: #46a04e;
}

.timer {
  padding: 4%;
  font-size: 100%;
  font-size: 10vw;/*500%;*/
  font-weight: bolder;
}

.button {
  padding: 1%;
  display: inline-block;
}